<template>
    <ul class="menu-nav">
        <template v-for="route in $parent.$parent.$parent.routes[$auth.user().level]">
            <li v-if="!route.child && route.divider" class="menu-section">
                <h4 class="menu-text">{{ route.name }}</h4>
                <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
            </li>
            <li v-if="!route.child && !route.divider" class="menu-item" :class="{'menu-item-active': (route.path == 'home') ? isActive($auth.user().level) : ((route.path_child) ? isActive(route.path, route.path_child) : isActive(route.path))}" aria-haspopup="true">
                <router-link :to="{name: route.path}" class="menu-link" active-class="menu-item-active">
                    <i class="menu-icon" :class="route.icon"></i></span>
                    <span class="menu-text">{{ route.name }}</span>
                </router-link>
            </li>
            <li v-if="route.child && !route.divider" class="menu-item menu-item-submenu" :class="{'menu-item-active': (route.path == 'home') ? isActive($auth.user().level) : isActive(route.path)}" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <span class="svg-icon menu-icon">
                        <i class="menu-icon" :class="route.icon"></i>
                    </span>
                    <span class="menu-text">{{ route.name }}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                    <i class="menu-arrow"></i>
                    <ul class="menu-subnav">
                        <li class="menu-item menu-item-parent" aria-haspopup="true">
                            <span class="menu-link">
                                <span class="menu-text">{{ route.name }}</span>
                            </span>
                        </li>
                        <template v-for="child1 in route.child">
                        <li v-if="!child1.child" class="menu-item" aria-haspopup="true" :class="{'menu-item-active': (child1.path == 'home') ? isActive($auth.user().level) : ((child1.path_child) ? isActive(child1.path, child1.path_child) : isActive(child1.path))}">
                            <router-link :to="{name: child1.path}" class="menu-link" active-class="menu-item-active">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">{{ child1.name }}</span>
                                <span v-if="child1.isNew" class="menu-label">
                                    <span class="label label-danger label-inline">new</span>
                                </span>
                            </router-link>
                        </li>
                        <li v-if="child1.child" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">{{ child1.name }}</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">
                                    <template v-for="child2 in child1.child">
                                    <li v-if="child2.child" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                                        <a href="javascript:;" class="menu-link menu-toggle">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">{{ child2.name }}</span>
                                            <i class="menu-arrow"></i>
                                        </a>
                                        <div class="menu-submenu">
                                            <i class="menu-arrow"></i>
                                            <ul class="menu-subnav">
                                                <li class="menu-item" aria-haspopup="true">
                                                    <router-link :to="{name: child2.path}" class="menu-link" active-class="menu-item-active">
                                                        <i class="menu-bullet menu-bullet-line">
                                                            <span></span>
                                                        </i>
                                                        <span class="menu-text">{{ child2.name }}</span>
                                                        <span v-if="child2.isNew" class="menu-label">
                                                            <span class="label label-danger label-inline">new</span>
                                                        </span>
                                                    </router-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li v-if="!child2.child" class="menu-item" aria-haspopup="true">
                                        <router-link :to="{name: child2.path}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">{{ child2.name }}</span>
                                        </router-link>
                                    </li>
                                    </template>
                                </ul>
                            </div>
                        </li>
                        </template>
                    </ul>
                </div>
            </li>
        </template>
    </ul>

</template>

<script>
export default {
  name: "KTMenu",
  methods: {
    hasActiveChildren(match) {
        return this.$route["path"].indexOf(match) !== -1;
    },
    isActive(menuItem) {
        var vm = this;
        return this.$route.name === menuItem;
    },
  }
};
</script>
