<template>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<paginate id="myTable" ref="myTable" classx="table table-bordered table-striped table-hover rounded" :columns="columns" url="/test" :post="postData" :callback="callback" :useCard="true"></paginate>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				columns: [
					{name: 'Name', data: 'name'},
					{name: 'Email', data: 'email'},
					{name: 'Phone', data: 'phone'},
					{name: 'Aksi', data: 'action'}
				],
				// Post Example
				postData: {tahun: 2020}
			}
		},
		methods: {
			loadJs(){
			},
            callback(){
            	// Callback Example
            	var vm = this;
            	$('#myTable').on('click', '.btn-block', function(e){
            		var id = $(this).data('id');
					vm.block(id);
            		vm.$refs.myTable.reload();
            	});
            	$('#myTable').on('click', '.btn-un-block', function(e){
					var id = $(this).data('id');
					vm.unblock(id);
            		vm.$refs.myTable.reload();
            	});
            },
			block(uuid){
				var app = this;
				app.$http.get('block/'+uuid).then((res)=> {
					toastr.success(res.data.pesan, 'sukses');
				}).catch((err) => {
					toastr.error('error');
				});
			},
			unblock(uuid){
				var app = this;
				app.$http.get('unblock/'+uuid).then((res)=> {
					toastr.success(res.data.pesan, 'sukses');
				}).catch((err) => {
					toastr.error('error');
				});
			}
		},
		mounted() {
			this.loadJs()
			this.$parent.middleware('superadmin');
		}
	}
</script>