<template>
  <!-- begin:: Header -->
  <div
    id="kt_header"
    ref="kt_header"
    class="header"
    v-bind:class="headerClasses"
  >
    <div
      class="container"
    >
          <KTTopbar></KTTopbar>
      <!-- begin:: Header Menu -->
      <!-- end:: Header Menu -->
    </div>
  </div>
  <!-- end:: Header -->
</template>

<script>

export default {
  name: "UKKHeader",
  components: {
    KTTopbar,
    KTMenu
  },
  mounted() {

  },
  computed: {

    /**
     * Check if the header menu is enabled
     * @returns {boolean}
     */
    headerMenuEnabled() {
      return true;
    },

    /**
     * Get extra classes for header based on the options
     * @returns {null|*}
     */
    headerClasses() {
      const classes = ['header-fixed'];
      if (typeof classes !== "undefined") {
        return classes.join(" ");
      }
      return null;
    },

    /**
     * Get extra classes for header menu based on the options
     * @returns {null|*}
     */
    headerMenuClasses() {
      const classes = [`header-menu-layout-${HtmlClass.getConfig("header.menu.self.layout")}`];
      if (typeof classes !== "undefined") {
        return classes.join(" ");
      }
      return null;
    }
  }
};
</script>
