<template>
<main>
    <div class="modal fade" id="detail" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="white-space: nowrap">{{data.deskripsi}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<paginate id="myTable" ref="myTable" classx="table table-bordered table-striped table-hover rounded" :columns="columns" url="/report/index" :post="postData" :callback="callback" :useCard="true"></paginate>
			</div>
		</div>
	</div>
        </main>
</template>

<script>
	export default {
        data() {
			return {
                columns: [
					{name: 'Nama user', data: 'user.name'},
					{name: 'kode pemesanan', data: 'pemesanan.kd_pemesanan'},
					{name: 'Aksi', data: 'action'}
				],
                data: {deskripsi: null},
				// Post Example
				postData: {tahun: 2020}
			}
		},
		methods: {
			loadJs(){
			},
            callback(){
            	// Callback Example
            	var vm = this;
            	$('#myTable').on('click', '.btn-detail', function(e){
            		var id = $(this).data('id');
					vm.detail(id);
            		vm.$refs.myTable.reload();
            	});
            },
            detail(uuid){
                var app = this;
                app.$http.get('report/detail/'+uuid).then((res) => {
                    app.data = res.data;
                    $('#detail').modal('show');
                });
            }
		},
		mounted() {
			this.loadJs()
			this.$parent.middleware('superadmin');
		}
	}
</script>