<template>
  <div class="container">
    <transition name="fade">
      <div class="row" v-if="!show">
        <div class="col-md-12">
          <div class="card card-custom">
            <div class="card-header">
              <div class="card-title">
                <span class="card-icon">
                  <i class="flaticon2-gear text-primary"></i>
                </span>
                <h3 class="card-label">Service</h3>
              </div>
              <div class="card-toolbar">
                <a
                  href="javascript:void(0)"
                  @click.prevent="
                    show = !show;
                    type = 'tambah';
                  "
                  class="btn btn-sm btn-success font-weight-bold"
                >
                  <i class="flaticon-plus"></i> Tambah
                </a>
              </div>
            </div>
            <div class="card-body">
              <paginate
                id="myTable"
                ref="myTable"
                classx="table table-bordered table-striped table-hover rounded"
                :columns="columns"
                url="/service/index"
                :post="postData"
                :callback="callback"
                :useCard="true"
              ></paginate>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div class="row" v-if="show">
        <div class="col-md-12">
          <div class="card card-custom">
            <div class="card-header">
              <div class="card-title">
                <span class="card-icon">
                  <i class="flaticon2-gear text-primary"></i>
                </span>
                <h3 class="card-label">
                  {{ type == "tambah" ? "Tambah Service" : "Edit Service" }}
                </h3>
              </div>
              <div class="card-toolbar">
                <a
                  href="javascript:void(0)"
                  @click.prevent="show = !show; formRequest = {}"
                  class="btn btn-sm btn-danger font-weight-bold"
                  >Back
                </a>
              </div>
            </div>

            <form @submit.prevent="send()">
              <div class="card-body">
                <div class="form-group">
                  <label>Nama service</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="Masukan nama"
                    v-model="formRequest.nama"
                  />
                </div>
                <div class="form-group">
                  <label>Harga Service</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="Masukan Harga"
                    oninput="this.value = this.value.replace(/\D/g, '')"
                    v-model="formRequest.harga"
                  />
                </div>

                <div class="form-group">
                  <label for="exampleSelect1">Type Service</label>
                  <select
                    class="form-control"
                    required
                    id="exampleSelect1"
                    v-model="formRequest.bengkel_id"
                  >
                    <option v-for="item in bengkel_type" :value="item.id">
                      {{ item.nama }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      type: "tambah",
      bengkel_type: [],
      formRequest: {},
      columns: [
        { name: "Nama", data: "nama" },
        { name: "harga", data: "harga" },
        { name: "Tipe Bengkel", data: "bengkeltype.nama" },
        { name: "Aksi", data: "action" },
      ],
      // Post Example
      postData: { tahun: 2020 },
    };
  },
  methods: {
    callback() {
      // Callback Example
      var vm = this;
      $("#myTable").on("click", ".btn-hapus", function (e) {
        var id = $(this).data("id");
        vm.hapus(id);
        vm.$refs.myTable.reload();
      });
      $("#myTable").on("click", ".btn-edit", function (e) {
        var id = $(this).data("id");
        vm.getdataedit(id);
        vm.$refs.myTable.reload();
      });
    },
    send(){
        var app = this;
        var uri = 'service/tambah';

        if(app.type != 'tambah'){
            uri = 'service/edit';
        }
        app.$http.post(uri, {data: app.formRequest}).then((res) => {
            toastr.success(res.data.pesan);
            app.show = !app.show;
            app.formRequest = {};
        }).catch((err) => {
            toastr.error('suatu error terjadi', 'error');
        })
    },
    hapus(uuid){
        var app = this;

        app.$http.get('service/delete/'+uuid).then((res) => {
            toastr.success(res.data.pesan, 'sukses');
            app.$refs.myTable.reload();
        }).catch((err) => {
            toastr.error('error sesuatu telah terjadi', 'errors');
        })
    },
    getdataedit(uuid){
    var app = this;

         app.$http
        .get("service/getdataedit/"+ uuid)
        .then((res) => {
          app.formRequest = res.data;
          app.formRequest.bengkel_id = res.data.bengkel_type_id;
          app.show = !app.show;
          app.type = 'edit';
        })
        .catch((err) => {
          toastr.error("Sesuatu error terjadi", "Error");
        });
    },
    getdata() {
      var app = this;

      app.$http
        .get("service/getdata")
        .then((res) => {
          app.bengkel_type = res.data;
        })
        .catch((err) => {
          toastr.error("Sesuatu error terjadi", "Error");
        });
    },
  },
  mounted() {
    this.getdata();
    this.$parent.middleware("superadmin");
  },
};
</script>