<template>
    <div style="width: 100%; height: 100vh" :style="
      $parent.setting.backgrounddir
        ? 'background-image: url(' + $parent.setting.backgrounddir + ');'
        : ''
    ">

    <!-- login -->

        <div v-if="loginView">
            <div style="width: 400px; height: 370px" class="center bg-dark">
                <div class="logo bg-dark" style="background-size: cover; background-repeat: no-repeat"
                    :style="'background-image: url(' + $parent.setting.logodarkdir + ');'"></div>
                <div class="mt-20 container">
                    <form @sumbit.prevent="login()">
                        <div class="txt_field">
                            <input type="text" required v-model="user.credential" />
                            <span></span>
                            <label>Email/Phone</label>
                        </div>
                        <div class="txt_field">
                            <input type="password" required v-model="user.password" />
                            <span></span>
                            <label>Password</label>
                        </div>
                        <div class="mb-3">
                            <div class="pass" @click.prevent="registerView = false; loginView = false; verifView = false; forgotView = true;">
                                Forgot Password?
                            </div>
                        </div>
                        <button type="submit" id="btnMasuk"
                            class="btn btn-transparent-primary btn-pill font-weight-bold" style="width: 100%"
                            @click.prevent="login()">
                            Masuk
                        </button>
                        <div class="signup_link">
                            Not a member?
                            <a href="javascrpt:void(0)" @click.prevent="
                  registerView = true;
                  loginView = false;
                  verifView = false;
                  forgotView = false;
                  user.credential = '';
                  user.password = '';
                ">Signup</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- verifikasi -->

        <div v-if="verifView">
            <div style="width: 400px; height: 370px" class="center bg-dark">
                <div class="logo bg-dark" style="background-size: cover; background-repeat: no-repeat"
                    :style="'background-image: url(' + $parent.setting.logodarkdir + ');'"></div>
                <div class="mt-20 container">
                    <form @sumbit.prevent="verifikasi()">
                        <div class="txt_field row">
                            <input type="text" maxlength="6" class="col-md-10 col-lg-10 col-sm-10 col-10" required
                                v-model="user.code" />
                            <a href="javascript:void(0)" v-if="send" class="signup_link col-md-2 col-lg-2 col-sm-2 col-2"
                                style="margin: 0;" @click.prevent="sendverification()">send</a>
                            <div class="signup_link timeout col-md-2 col-lg-2 col-sm-2 col-2" v-if="timeout"
                                style="margin: 0;" id="timeout">2:00</div>
                            <span></span>
                            <label>Kode Verifikasi</label>
                        </div>
                        <button type="submit" id="btnMasuk"
                            class="btn btn-transparent-primary btn-pill font-weight-bold" style="width: 100%"
                            @click.prevent="verifikasi()">
                            Verifikasi
                        </button>
                        <div class="signup_link" v-if="send && status == 'register'">
                            Ubah Informasi?
                            <a href="javascrpt:void(0)" @click.prevent="
                            registerView = true;
                            loginView = false;
                            verifView = false;
                            kembali(user);
                ">Kembali</a>
                        </div>
                        <div class="signup_link" v-if="send && status == 'login'">
                            Ubah Informasi?
                            <a href="javascrpt:void(0)" @click.prevent="
                            registerView = false;
                            loginView = true;
                            verifView = false;
                            forgotView = false;
                ">Kembali</a>
                        </div>
                        <div class="signup_link" v-if="send && status == 'forgot'">
                            Ubah Informasi?
                            <a href="javascrpt:void(0)" @click.prevent="
                            registerView = false;
                            loginView = false;
                            verifView = false;
                            forgotView = true;
                ">Kembali</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- acc forgot -->

        <div v-if="accView">
            <div style="width: 400px; height: 370px" class="center bg-dark">
                <div class="logo bg-dark" style="background-size: cover; background-repeat: no-repeat"
                    :style="'background-image: url(' + $parent.setting.logodarkdir + ');'"></div>
                <div class="mt-20 container">
                    <form @sumbit.prevent="login()">
                        <div class="txt_field row">
                            <input type="password" class="col-md-10 col-lg-10 col-sm-10 col-10" id="passInput1"
                                required v-model="user.password1" />
                            <a href="javascript:void(0)" class="signup_link col-md-2 col-lg-2 col-sm-2 col-2"
                                style="margin: 0" @click.prevent="passtype1()">{{ password.name1 }}</a>
                            <span></span>
                            <label>Confirm Password</label>
                        </div>
                        <div class="txt_field row">
                            <input type="password" class="col-md-10 col-lg-10 col-sm-10 col-10" id="passInput2"
                                required v-model="user.password2" />
                            <a href="javascript:void(0)" class="signup_link col-md-2 col-lg-2 col-sm-2 col-2"
                                style="margin: 0" @click.prevent="passtype2()">{{ password.name2 }}</a>
                            <span></span>
                            <label>Confirm Password</label>
                        </div>
                        <button type="submit" id="btnMasuk"
                            class="btn btn-transparent-primary btn-pill font-weight-bold" style="width: 100%"
                            @click.prevent="confirm()">
                            Confirm
                        </button>
                    </form>
                </div>
            </div>
        </div>


            <!-- forgot -->

            <div v-if="forgotView">
                <div style="width: 400px; height: 370px" class="center bg-dark">
                    <div class="logo bg-dark" style="background-size: cover; background-repeat: no-repeat"
                        :style="'background-image: url(' + $parent.setting.logodarkdir + ');'"></div>
                    <div class="mt-20 container">
                        <form @sumbit.prevent="login()">
                            <div class="txt_field">
                                <input type="text" required v-model="user.credential" />
                                <span></span>
                                <label>Email/Phone</label>
                            </div>
                            <button type="submit" id="btnMasuk"
                                class="btn btn-transparent-primary btn-pill font-weight-bold" style="width: 100%"
                                @click.prevent="forgot()">
                                Submit
                            </button>
                            <div class="signup_link">
                                Login?
                                <a href="javascrpt:void(0)" @click.prevent="
                      registerView = false;
                      loginView = true;
                      verifView = false;
                      forgotView = false;
                    ">Masuk</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- register -->
        <div v-if="registerView">
            <div style="width: 400px; height: 470px" class="center bg-dark">
                <div class="logo bg-dark" style="background-size: cover; background-repeat: no-repeat"
                    :style="'background-image: url(' + $parent.setting.logodarkdir + ');'"></div>
                <div class="mt-20 container">
                    <form @sumbit.prevent="login()">
                        <div class="txt_field">
                            <input type="text" required v-model="user.username" />
                            <span></span>
                            <label>Username</label>
                        </div>
                        <div class="row" style="margin: 0">
                            <div class="txt_field col-lg-6 col-md-6 col-sm-6 col-6 mb-3" style="width: 50%; margin: 0; padding: 0;">
                                <input type="text" required v-model="user.firstName" />
                                <span></span>
                                <label>first name</label>
                            </div>

                            <div class="txt_field col-lg-6 col-md-6 col-sm-6 col-6 mb-3" style="width: 50%; margin: 0; padding: 0;">
                                <input type="text" required v-model="user.lastName" />
                                <span></span>
                                <label>last name</label>
                            </div>
                        </div>
                        <div class="txt_field">
                            <input type="text" required v-model="user.credential" />
                            <span></span>
                            <label>Email/phone</label>
                        </div>
                        <div class="txt_field row">
                            <input type="password" class="col-md-10 col-lg-10 col-sm-10 col-10" id="passInputReg"
                                required v-model="user.password" />
                            <a href="javascript:void(0)" class="signup_link col-md-2 col-lg-2 col-sm-2 col-2"
                                style="margin: 0" @click.prevent="passtype()">{{ password.name }}</a>
                            <span></span>
                            <label>Password</label>
                        </div>
                        <button type="submit" id="btnDaftar"
                            class="btn btn-transparent-primary btn-pill font-weight-bold" style="width: 100%"
                            @click.prevent="register()">
                            Daftar
                        </button>
                        <div class="signup_link">
                            Sudah punya akun?
                            <a href="#" @click.prevent="
                  loginView = true;
                  registerView = false;
                  verifView = false;
                ">Masuk</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    form .txt_field {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }

    .txt_field input {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        color: aliceblue;
        background: none;
        outline: none;
    }

    .txt_field label {
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;
    }

    .txt_field span::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #2691d9;
        transition: 0.5s;
    }

    .txt_field input:focus~label,
    .txt_field input:valid~label {
        top: -5px;
        color: #2691d9;
    }

    .txt_field input:focus~span::before,
    .txt_field input:valid~span::before {
        width: 100%;
    }

    .pass {
        margin: -5px 0 20px 0px;
        color: #a6a6a6;
        cursor: pointer;
    }

    .pass:hover {
        text-decoration: underline;
    }

    input[type="submit"] {
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
    }

    input[type="submit"]:hover {
        border-color: #2691d9;
        transition: 0.5s;
    }

    .signup_link {
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #666666;
    }

    .signup_link a {
        color: #2691d9;
        text-decoration: none;
    }

    .signup_link a:hover {
        text-decoration: underline;
    }

    /* end form */
    .center {
        position: absolute  ;
        top: 200px;
        right: 50%;
        transform: translateX(200px);
        border-radius: 30px;
        border: 3px solid rgba(244, 0, 0, 1);
        opacity: 99%;
        transition: 1s;
    }

    .center:hover {
        box-shadow: 2px 2px 38px -3px rgba(244, 0, 0, 1),
            2px 2px 38px -3px rgba(244, 0, 0, 1) inset;
        transition: 2s;
    }

    .logo {
        position: absolute  ;
        width: 120px;
        height: 120px;
        top: -84px;
        right: 128px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 50%;
        transition: 1s;
    }

    .logo:hover {
        box-shadow: 2px 2px 38px -3px rgb(255, 255, 255),
            2px 2px 38px -3px rgb(255, 255, 255) inset;
        transition: 2s;
    }
</style>

<script>
    import postscribe from "postscribe";
    export default {
        data() {
            return {
                loginView: true,
                registerView: false,
                verifView: false,
                forgotView: false,
                accView: false,
                send: true,
                timeout: false,
                status: null,
                password: {
                    name: "show",
                    name1: "show",
                    name2: "show",
                },
                user: {},
                // data: {
                //     number: '081357646859',
                //     message: 'jancok'
                // }
            };
        },
        methods: {
            login() {
                var app = this;
                // KTApp.progress(e[0]);
                var btn = KTUtil.getById("btnMasuk");
                var emessage = $("#emessage");
                KTUtil.btnWait(
                    btn,
                    "spinner spinner-right spinner-white pr-15",
                    "Tunggu"
                );
                app.$auth.login({
                    data: app.user,
                    success: function (res) {
                        toastr.success("Sukses Masuk", "Sukses");
                        KTUtil.btnRelease(btn);
                        // setTimeout(function(){
                        //     postscribe('#core', `<script src="${process.env.MIX_APP_URL}/assets/js/scripts.bundle.js"><\/script>`);
                        // }, 2000);
                    },
                    error: function (err) {

                        if(err.response.data.verification == true){
                            app.registerView = false;
                            app.loginView = false;
                            app.verifView = true;
                            app.send = true;
                            app.timeout = false;
                            app.sendverification();
                            toastr.error(err.response.data.message, "Gagal");
                            KTUtil.btnRelease(btn);
                            app.status = 'login';
                        } else {
                            toastr.error(err.response.data.message, "Gagal");
                            KTUtil.btnRelease(btn);
                        }

                    },
                    rememberMe: false,
                    fetchUser: true,
                });
            },
            forgot(){
                var app = this;
                var data = app.user;

                app.axios.post('check', data).then((res) => {
                app.registerView = false;
                app.loginView = false;
                app.verifView = true;
                app.forgotView = false;
                app.send = true;
                app.timeout = false;

                app.status = 'forgot';
                app.sendverification();
                }).catch((err) => {
                    toastr.error(err.response.data.message);
                })
            },
            verifikasi(){
                var app = this;
                app.axios.post('verifikasi', app.user).then((res) => {
                    toastr.success('kode verifikasi benar');
                    if(app.status == 'forgot'){
                        app.accView = true;
                        app.verifView = false;
                    } else {
                        app.login();
                    }

                }).catch((err) => {
                    toastr.error('kode verifikasi salah');
                })
            },
            kembali(user){
                var app = this;
                var data = user;
                app.axios.post('back', data);
            },
            clearcode(acc){
                var app = this;
                app.axios.post('clearcode', acc);            },
            passtype() {
                var app = this;
                var x = document.getElementById("passInputReg");
                if (x.type === "password") {
                    x.type = "text";
                    app.password.name = "hide";
                } else {
                    x.type = "password";
                    app.password.name = "show";
                }
            },
            passtype1() {
                var app = this;
                var x = document.getElementById("passInput1");
                if (x.type === "password") {
                    x.type = "text";
                    app.password.name1 = "hide";
                } else {
                    x.type = "password";
                    app.password.name1 = "show";
                }
            },
            passtype2() {
                var app = this;
                var x = document.getElementById("passInput2");
                if (x.type === "password") {
                    x.type = "text";
                    app.password.name2 = "hide";
                } else {
                    x.type = "password";
                    app.password.name2 = "show";
                }
            },
            countdown(acc) {
                var interval;
                var app = this;
                clearInterval(interval);
                interval = setInterval(function () {
                    var timer = $("#timeout").html();
                    timer = timer.split(":");
                    var minutes = timer[0];
                    var seconds = timer[1];
                    seconds -= 1;
                    if (minutes < 0) return;
                    else if (seconds < 0 && minutes != 0) {
                        minutes -= 1;
                        seconds = 59;
                    } else if (seconds < 10 && length.seconds != 2) seconds = "0" + seconds;

                    $(".timeout").html(minutes + ":" + seconds);

                    if (minutes == 0 && seconds == 0){
                        clearInterval(interval);
                        app.clearcode(acc)
                        app.send = true;
                        app.timeout = false;
                    };
                }, 1000);
            },
            register(){
                var app = this;
                var data = app.user;

                app.axios.post('register', data).then((res) => {
                    toastr.success('sukses');
                    
                }).catch((err) => {
                    toastr.error('error')
                })
                app.registerView = false;
                app.loginView = false;
                app.verifView = true;
                app.send = true;
                app.timeout = false;

                app.status = 'register';
                app.sendverification(); 
            }, 
            confirm(){
                var app = this;
                var data = app.user;

                if(app.user.password1 != app.user.password2){
                    toastr.error('pasword tidak sama');
                } else {
                    app.axios.post('accForgot', data).then((res) => {
                        toastr.success('sukses merubah password silahkan login');
                        app.registerView = false;
                        app.loginView = true;
                        app.verifView = false;
                        app.accView = false;

                        app.user.password = '';
                        app.user.credential = '';
                        
                    }).catch((err) => {
                        toastr.error(err.response.data.message);
                    })
                }
            },
            sendverification() {
                var app = this;
                app.send = false;
                if (app.user.credential != null) {
                    app.$http({
                            url: "getcodeverifikasi",
                            method: "POST",
                            data: app.user,
                        })
                        .then((res) => {
                            toastr.success(res.data.message);
                            app.timeout = true;
                            app.countdown(app.user);
                        })
                        .catch((err) => {
                        if(err.response.data.status == true){
                            app.registerView = false;
                            app.loginView = true;
                            app.verifView = false;
                            toastr.error(err.response.data.message);
                    } else {
                        toastr.error(err.response.data.message);
                        app.send = true;
                        app.timeout = false;
                    }
                        });
                } else {
                    toastr.error("Phone/email wajib diisi");
                }
            },
        },
        mounted() {
            var app = this;
            // app.axios.get('kirimemail');
        },
        style: `
        .login.login-1 .login-aside .aside-img{min-height:450px}.login.login-1 .login-forgot,.login.login-1 .login-signin,.login.login-1 .login-signup{display:none}.login.login-1.login-signin-on .login-signup{display:none}.login.login-1.login-signin-on .login-signin{display:block}.login.login-1.login-signin-on .login-forgot{display:none}.login.login-1.login-signup-on .login-signup{display:block}.login.login-1.login-signup-on .login-signin{display:none}.login.login-1.login-signup-on .login-forgot{display:none}.login.login-1.login-forgot-on .login-signup{display:none}.login.login-1.login-forgot-on .login-signin{display:none}.login.login-1.login-forgot-on .login-forgot{display:block}@media (min-width:992px){.login.login-1 .login-aside{width:100%;max-width: 920px;}.login.login-1 .login-content{width:100%;max-width: 480px;}.login.login-1 .login-content .login-form{width:100%;max-width:450px}}@media (min-width:992px) and (max-width:1399.98px){.login.login-1 .login-aside{width:100%;max-width:450px}}@media (max-width:991.98px){.login.login-1 .login-content .login-form{width:100%;max-width:400px}}@media (max-width:575.98px){.login.login-1 .aside-img{min-height:300px!important;background-size:400px}.login.login-1 .login-content .login-form{width:100%;max-width:100%}}
        `,
    };
</script>